*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    width: 100%;
    position: fixed;
    background-color: white;
}
.container-full{
    width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}
.container-min{
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
}
.row{
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contain{
    width: 100%;
    padding: 20px;
}
.height{
    min-height: 900px;
    background-color: red;
}
.h{
    height: 50px;
    background-color: red;
}
.h-200{
    height: 200px;
    background-color: red;
}

.d-flex{
    display: flex;
}
ul{
    list-style: none;
    align-items: center;

}
li{
    margin: 0 20px;
}
.no-margin{
    margin: 20px 0;
}

.j-end{
    justify-content: end;
}
button{
    background-color: #0061FF;
    padding: 5px 10px;
    color: white;

}
.bg-gray{
    background-color: #B4D0E7 ;
    
}

.border{
    border: 1px gray solid;
}
.col-100{
    width: 100%;
}
.col-50{
    width: calc(100% / 2);
}
.col-40{
    width: 40%;
}
.col-60{
    width: 60%;
}
.col-30{
    width: 30%;
}
.col-33{
    width: 33%

}

h1{
    font-size: 100px;
}
img{
    width: 100%
}
h2{
    font-size: 40px;
}
.input{
    width: 500px;
    padding: 40px 0px;
}
input{
    margin: 0 20px;
}
.t-center{
    text-align: center;
}
.l-height{
    line-height: 20px;
}
.contain > h3, h4, p{
    line-height: 40px;
}