*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    width: 100%;
    position: fixed;
    background-color: white;
}
.container-full{
    width: 100%;
    
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}
.container-min{
    max-width: 1000px;
    margin: 0 auto;
}
.row{
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contain{
    width: 100%;
    padding: 20px;
}
.height{
    min-height: 900px;
    background-color: red;
}
.h{
    height: 50px;
    background-color: red;
}
.h-200{
    height: 200px;
    background-color: red;
}
.h-500{
    height: 500px;
    background-color: red;
}

.d-flex{
    display: flex;
}
.f-w{
    flex-wrap: wrap;
}
ul{
    list-style: none;
    align-items: center;

}
li{
    margin: 0 20px;
}
.no-margin{
    margin: 20px 0;
}
.margin{
    margin: 80px 0px;
}
.j-end{
    justify-content: end;
}
.j-cent{
    justify-content: center;
}
.j-bet{
    justify-content: space-between;
}
button{
    background-color: #0061FF;
    padding: 5px 10px;
    color: white;
}
.button{
    background-color: white;
    color: black;
    padding: 5px 10px;
    height: 30px;
    border: none;
}
.bg-gray{
    background-color: #B4D0E7 ;
    
}

.border{
    border: 1px gray solid;
}
.col-100{
    width: 100%;
}
.col-50{
    width: calc(100% / 2);
}
.col-40{
    width: 40%;
}
.col-60{
    width: 60%;
}
.col-30{
    width: 30%;
}
.col-33{
    width: 33%
}
.col-70{
    width: 70%;
}

h1{
    font-size: 75px;
}
img{
    width: 100%
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
.input{
    width: 500px;
    padding: 40px 0px;
}
input{
    margin: 0 20px;
}
.t-center{
    text-align: center;
}
.l-height{
    line-height: 20px;
}
.contain > h3, h4, p{
    line-height: 40px;
}
.padding{
    padding: 30px 0;
}
.padding-top{
    padding-top: 100px;
}
.square{
    border: 1px solid black;
    width: 100%;
    height: calc(100vw / 3 / 2);
    position: relative;
}
.square>img{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: white;
}
.contain> img{
    width: 50%;
    padding: 30px 20px;
}

.bg-green{
    background-color: #A2D39B;
}
.bg-brown{
    background-color: #61082B;
}
.bg-cyan{
    background-color: #0093CE;
}
.bg-red{
    background-color: #FF1C1C;
}
.bg-pink{
    background-color: #F5F5F5;
}
.bg-darkred{
    background-color: #D5001F;
}
.bg-grey{
    background-color: #B4D0E7;
}
.bg-blue{
    background-color: #0D2481;
}
.bg-yellow{
    background-color: #FFD830;
}
.bg-gray> h2{
    text-align: center;
    padding: 100px;
}
.col-70> .contain{
    justify-content: space-around;
}
.alingh-items{
    align-items: center;
}
.border-t{
    border-top: 1px solid black;
}
.border-b{
    border-bottom: 1px solid black;
}