*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* semantic tag */

body{
    font-family: 'Open Sans', sans-serif;
}
header{
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: white;
}
footer{
    width: 100%;
    background-color: black;
    color: white;
}

/* container */

.container-full{
    width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container-min{
    max-width: 1000px;
    margin:  auto;
}
.header-contain{
    width: 100%;
    padding: 20px; 
    position: relative;
}
.row{
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contain{
    width: 100%;
    padding: 30px;
}
.contain-sub{
    width: 100%;
    padding: 0px 10px;
}
.contain-33{
    width: 100%;
    height: 100%;
    padding: 30px;
}
.contain-li{
    max-width: 500px;
    padding: 30px;
}
.contain-h{
    width: 500px;
    position: absolute;
    top: 65px;
    background-color: white;
    

}
/* background */

.bg-gray{
    background-color: #B4D0E7;
    padding-bottom: 30px;
}
.bg-green{
    background-color: #A2D39B;
}
.bg-brown{
    background-color: #61082B;
}
.bg-cyan{
    background-color: #0093CE;
}
.bg-red{
    background-color: #FF1C1C;
}
.bg-pink{
    background-color: #F5F5F5;
}
.bg-darkred{
    background-color: #D5001F;
}
.bg-grey{
    background-color: #B4D0E7;
}
.bg-blue{
    background-color: #0D2481;
}
.bg-yellow{
    background-color: #FFD830;
}

/* utility */

h1{
    font-size: 75px;
}
img{
    width: 100%
}
h2{
    font-size: 40px;
}
h3{
    font-size: 35px;
}
.border-t{
    border-top: 1px solid black;
}
.border-b{
    border-bottom: 1px solid black;
}
.alingh-items{
    align-items: center;
}
.t-center{
    text-align: center;
}
.border{
    border: 1px gray solid;
}
.j-end{
    justify-content: end;
}
.j-cent{
    justify-content: center;
}
.j-bet{
    justify-content: space-between;
}
.f-direction{
    flex-direction: column;
}
.no-margin{
    margin: 50px 0px;
}
.margin{
    margin: 80px 0px;
}
.padding{
    padding: 100px 0;
}
.padding-tb{
    padding: 30px 0px;
}
.padding-top{
    padding-top: 150px;
}

.d-flex{
    display: flex;
}
.f-w{
    flex-wrap: wrap;
}
.gap{
    gap: 10px;
}

/* Column */

.col-100{
    width: 100%;
}
.col-50{
    width: calc(100% / 2);
}
.col-40{
    width: 40%;
}
.col-60{
    width: 60%;
}
.col-30{
    width: 30%;
}
.col-33{
    width: calc(100% / 3)
}

.col-70{
    width: 70%;
}
.col-20{
    width: calc(100% / 5);
}

/* Advanced selector */
.header-contain> a{
    color: black
}
.contain.dflex> .d-flex{
    align-items: center;
}
    

.vai> a{
    text-decoration: none;
    color: white;
}
li> a{
    text-decoration: none;
    color: black;
}
.col-50> .f-direction{
    line-height: 40px;
}
li> button{
    background-color: transparent;
    border: none;
    color: black;
    font-size: 16px;
}
.f-direction> li{
   display: flex;
   justify-content:left

}
.col-50:hover .bg-green{
    background-color: #3cc52a;
    border:10px solid green;
}
.col-50:hover .bg-brown{
    background-color: #f1156d;
    border:10px solid #69032c;
}
.col-50:hover .bg-cyan{
    background-color: #14556e;
    border:10px solid #4cafd6;
}
.col-50:hover .bg-red{
    background-color: #aa0707;
    border:10px solid red;
}
.col-50:hover .bg-darkred{
    background-color: #801424;
    border:10px solid #eb5168;
}
.col-50:hover .bg-grey{
    background-color: #728da3;
    border:10px solid #2d8edd;
}
.col-50:hover .bg-blue{
    background-color:#566fd4;
    border:10px solid #1338cc;
}
.col-50:hover .bg-yellow{
    background-color: #816c0e;
    border:10px solid #e7c52f;
}
.col-33:hover .bg-pink{
    background-color: #a18d8d;
    border:10px solid #c77171;
}
main> .container-min{
    padding: 50px 0;
}
.d-flex> li{
    margin: 0px 20px;
}
.list-v> li{
    margin: 20px 0;
    display: flex;
}

.list-v.prova> li::before{
    content:"✓";
    padding-right: 10px;
    color: blue;
}
.bg-pink> .contain{
    padding: 20px;
}
.header-contain> p{
    line-height: 20px;
    text-align: left;
    padding-bottom: 30px;
}
.contain > h3, h4{
    line-height: 30px;
}
.contain-bis> p{
    line-height: 20px;
    padding-top: 30px;
}
.padding-tb> .alingh-items{
    padding-right: 30px;
}
.line-height> li{
    line-height: 40px;
}
.images-h> img{
    position: absolute;
}
.images> img{
    width: 100%;
}
.images-bis> img{
    width: 100%;
}
.contain-33> img{
    width: 50%;
    padding: 30px 20px;
}
.griglia> h3{
    padding: 20px;
    
}
.griglia> p{
    padding: 10px 0;
    font-size: 15px;
    
}
.griglia> img{
    width: 100%;
    padding-bottom: 10px;
}

.bg-gray> h2{
    text-align: center;
    padding: 100px;
}
.col-70> .contain{
    justify-content: space-around;
}
.col-33> .griglia{
    margin-bottom: 10px;
}
.contain.p> h4{
    font-size: 25px;
    font-weight: bold;
}
.header-contain> i{
    padding-top: 50px;
}
.contain.border> h3{
    font-weight: bold;
    font-size: 25px;
}
.contain.border> button{
    margin: 20px auto;
    width: 250px;
    padding: 15px;
}
.contain-bis> h3{
    font-weight: bold;
    font-size: 25px;
}
.input> span{
    padding-right: 20px;
}

.row.d-flex.padding-tb> .col-100{
    display: flex;
    padding: 10px 0px;
    border-top: 1px solid black;
}

.contain.f> h4{
    padding: 20px 0px;
}
.col-100> .contain{
    padding: 50px 0;
}
.contain> .h2{
    padding-top: 100px;
}
.d-flex> i{
    padding-right: 10px;
    padding-top: 5px;
}
.link> img{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
.contain.d-flex.j-bet> a{
    padding: 0px 50px;
}
.contain.d-flex.j-bet:hover button{
    background-color: #0093CE;
    color:red
}
.link>img{
    filter: invert(1);
}
.link:hover img{
    filter:invert(0)
}

li:hover .after{
    display: block;
}
.contain.d-flex.alingh-items.j-bet:hover .before{
    display: none;
}
.contain.d-flex.alingh-items.j-bet:hover .after{
    display: block;
}

/* tag */

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
button{
    background-color: #0061FF;
    padding: 10px;
    color: white;
    border: none;
}
input{
    margin: 0 10px;
}
hr{
    margin-top: 30px;
    margin-bottom: 50px;
    width: 50px;
}


/* #id */
#button-h{
    background-color: #0061FF;
    padding: 10px;
    color: white;
    border: none;
}

#l-h-p{
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 20px;
}
#button{
    background-color: white;
    padding: 10px 20px;
    color: black;
    border: 1px solid black;
    font-size: 15px;
}
#hr{
    margin-top: 100px;
    margin-bottom: 40px;
    width: 120px;
}

/* .class */
.link{
    border: 1px solid black;
    width: 100%;
    height: calc(100vw / 3 / 2);
    position: relative; 
}
.after{
    display: none;
}
.before{
    display: block;
}

.griglia{
    margin: 20px;
}
.button{
    background-color: white;
    color: black;   
    border: none;
    font-size: 15px;
}
.input{
    width: 450px;
    padding: 40px 0px;
    margin-left: -20px;
}
.contain-bis{
   width: 70%;
   padding: 20px;
}
.contain-tris{
    width: 30%;
    position: relative;
}
.position{
    position: absolute;
    top: 30px;
    left: 70px;
    padding: 10px 30px;
}
.square{
    border: 1px solid black;
    width: 100%;
    height: calc(100vw / 3 / 2);
    position: relative; 
}
.square>img{
    width: 50%;
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.images{
    width: 100%;  
}
.images-bis{
    margin-right: 20px;
}
.images-h{
    width: 100%; 
    height: 100%;
    position: relative;
}
.lingua{
    padding-left: 10px;
    margin-bottom: 60px;
}
